{:kotoba.app/id "cloud.itonami.isic-5229", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigiv7qldt4u2xjd33ezucfvxhrcnj74pmqqn4mtgr4poofjxfpfxm", :kotoba.app/embed-url "ipfs://bafkreigiv7qldt4u2xjd33ezucfvxhrcnj74pmqqn4mtgr4poofjxfpfxm", :published {:archive "https://kotobase.net/ipfs/bafkreigiv7qldt4u2xjd33ezucfvxhrcnj74pmqqn4mtgr4poofjxfpfxm", :size 73167, :put-status 201, :get-status 200, :at "2026-08-15T13:49:57.765Z"}}
